<div class="container">
    <form>
      <div class="row">
          <div class="form-group col-xs-3">
              <label for="inputDOB">Function</label>
              <select class="form-control input-sm">
                  <option>Male</option>
                  <option>Female</option>
              </select>
          </div>
      </div>

      <div class="row">
          <div class="form-group col-xs-3">
              <label for="inputName">Amplitude</label>
              <input class="form-control input-sm" type="text" id="inputName"
                      placeholder="Full Name" />
          </div>
      </div>
      
      <div class="row">
          <div class="form-group col-xs-3">
              <label for="inputName">Frequency </label>
              <input class="form-control input-sm" type="text" id="inputName"
                      placeholder="Full Name" />
          </div>
      </div>
        
    </form>
</div>